﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/WSApp.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var wsapp = new WSApp();
            wsapp.init();

            $("#btn").click(function () {
                wsapp.send($("#msg").val());
            });
        });
    </script>
    <title>Index</title>
</head>
<body>
    <div>
        <input type="text" id="msg" />
        <button id="btn">Send</button>
    </div>
    <div>
        Received Data:
        <div id="receivedData">

        </div>
    </div>
</body>
</html>
